@page "/"
@page "/index.html"
@inject IJSRuntime JsRuntime
@using nkast.Wasm.Canvas

<PageTitle>AiAssaultArena.Web</PageTitle>
<div style="height: 3rem">
</div>
<div id="canvasHolder" style="
    margin:0%;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width:100vw;
    height:100vh;
">
    <canvas id="theCanvas" style="touch-action:none;"></canvas>
</div>

@if (_game is null || _game.Tanks is null)
{
    return;
}

<div style="position: absolute; top: 0; left: 0; color: white; background: #0008; padding: 1rem; height: 100vh;">

    @foreach (var tank in _game.Tanks)
    {
        <div>
            <div>
                @tank.Id
            </div>
            <div>
                <div>
                    Health
                </div>

                <progress max="10000" value="@((int)(tank.Health * 100))" />
            </div>
            <div>
                <div>
                    Cooldown
                </div>

                <progress max="100" value="@((int)(tank.CurrentTurretHeat * 100))" />
            </div>
        </div>
    }
</div>